node_modules/
.env
/blackListMapped.js
/activeUsers.json
events/personalityTraits.json
/events/personalityTraits.json
channelData.json
data/leaderboard.json
data/personalityTraits.json
data/systemPrompt.json
